:root {
    --biw-form-width: 322px;
}

.biw-container {
    font-family: "Consolas", monospace;
    width: var(--biw-form-width);
    transition: width .24s cubic-bezier(0.68, -0.35, 0.27, 1.25);
}
.biw-container.expand {
    width: calc(var(--biw-form-width) * 2);
}
.biw-container h1 {
    margin: -12px 0 0 0;
    font-size: x-large;
}
.biw-container h2 {
    font-size: medium;
}
.biw-container button {
    cursor: pointer;
    width: 240px;
    height: 42px;
    border-style: none;
    border-radius: 2px;
    background: var(--color2);
    transition: transform .08s ease-in-out;
    color: var(--color1);
    font-family: "Arial";
}
.biw-container button.disabled {
    background-color: var(--color2);
    color: #c1c1c1;
    cursor: not-allowed;
}
.biw-container .wrap {
    width: 100%;
    height: 100%;
    /*height: 180px !important;*/
	height: 230px !important;
}
.biw-container #biw-mainForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--biw-form-width);
}
.biw-holdBtn {
    box-shadow: inset 0px 0px 0px 2px var(--color2);
}
.biw-holdBtn div {
    pointer-events: none;
    mix-blend-mode: difference;
    color: white;
}
.biw-spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thinBottomBorder {
    border-bottom: solid 1px var(--color1_1);
}

.biw-miniFormsWrap {
	display: none;
    position: absolute;
	right: 0;
    width: var(--biw-form-width);
    height: calc(100% - 32px);
    overflow: hidden;
}
.biw-container.expand .biw-miniFormsWrap {
	display: block;
	animation: fadeInMiniFormsWrap .32s ease-in-out;
}
@keyframes fadeInMiniFormsWrap {
	0% { opacity: 0; }
	33% { opacity: 0; }
	100% { opacity: 1; }
}
.biw-textInfo {
    z-index: 1;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: 32px;
    width: 100%;
    margin: 2px 0 0 0;
    animation: textColorBlink 1s infinite;
}
@keyframes textColorBlink {
    0% { color: var(--color2); }
    10% { color: var(--color3); }
    40% { color: var(--color2); }
    100% { color: var(--color2); }
}
.biw-textInfo.important {
    color: orange !important;
    animation: importantTextBlink 1s infinite;
}
@keyframes importantTextBlink {
    0% { color: orange; }
    10% { color: red; }
    40% { color: orange; }
    100% { color: orange; }
}
.biw-container.expand .biw-textInfo {
	width: 200%;
    transform: translateX(25%);
}
#biw-buttonBar {
    position: relative;
    display: flex;
    justify-content: center;
	gap: 10px;
    width: 84%;
    margin: 10px 0px;
    border-bottom: solid #80808024 1px;
    padding: 0 0 10px 0;
}
#biw-buttonBar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 64px;
    font-size: .75em;
    cursor: pointer;
    transition: background .06s ease-in-out, color .06s .06s, border-radius .06s ease-in-out;
    padding: 0;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
	
    /*background: var(--color2);
    color: var(--color1);*/
	border-radius: 6px;
	box-shadow: inset 0px 0px 0px 1.5px var(--color2_3);
	background: var(--bg-lighter);
    color: var(--color3);
}
#biw-buttonBar button:not(.disabled):not(.open):hover {
    /*box-shadow: inset 0px 0px 0px 3px var(--color1_2);
    background: var(--color1);
    color: var(--color2);*/
	background: var(--color2);
    color: var(--color1);
}
#biw-buttonBar button.active { /* USE IT! */
    box-shadow: inset 0px 0px 0px 3px var(--color2) !important;
    /*background: var(--color1) !important;
    color: var(--color2) !important;*/
	background: var(--color2) !important;
    color: var(--color1) !important;
}
#biw-buttonBar button.disabled {
    opacity: .6;
    cursor: initial;
    filter: brightness(0.8);
    box-shadow: 3px 2px 5px var(--neumo-color2), -2px -2px 4px var(--neumo-color1);
}
#biw-buttonBar button img {
    pointer-events: none;
	opacity: .8;
    width: 24px;
	filter: invert(calc(1 - var(--dark-mode-boolean)));
    transform: translateY(5px);
}
#biw-buttonBar button:not(.disabled):not(.open):hover img, #biw-buttonBar button:not(.disabled).active img {
    /*filter: invert(calc(1 - var(--dark-mode-boolean)));*/
	filter: invert(var(--dark-mode-boolean));
    transition: filter .06s .06s ease-in-out;
}

.biw-miniForm {
	display: none;
    pointer-events: all;

    width: var(--biw-form-width);
    height: 100%;
    box-shadow: inset 4px 0 4px -4px var(--color1_3);
}
.biw-miniForm.active {
	display: block;
    z-index: 1;
}
.biw-flexWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}
.biw-flexWrap .biw-spaced {
    width: 90%;
}
.biw-flexWrap h2 {
    color: var(--color2);
}
.biw-flexWrap h3 {
    color: var(--color3);
    font-size: .9em;
    margin: 6px;
}
.biw-flexWrap h4 {
    color: var(--color3);
    font-size: .8em;
    margin: 10px 0 12px 0;
}
.biw-inputs-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin-top: 30px;
}
.biw-inputs-wrap .biw-spaced {
	width: 100%;
}
.biw-inputs-wrap input {
	/*width: 64%;*/
	margin: 0 5%;
	width: 90%;
}

/* TRANSFER FORM */
#biw-interpreterWrap {
	padding-bottom: 28px;
	margin-bottom: 24px;
}
#biw-interpreterInput {
	display: none;
	width: 80%;
	background-color: var(--color2_2);
}
#biw-interpreterInput:focus {
	background-color: var(--color2);
}
#biw-interpretBtn {
	display: none;
	width: 38px;
	height: 28px;
	border-radius: 6px;
	padding: 0 5px;
	background: var(--color2_2);
}
#biw-interpreterWrap.active #biw-interpreterInput,
#biw-interpreterWrap.active #biw-interpretBtn {
	display: block;
}
#biw-interpretBtn:hover {
	transform: scale(1.1, 1);
	background: var(--color2);
}
#biw-interpretBtn img {
	pointer-events: none;
	width: 100%;
	transform: scale(.75);
}
#biw-interpretBtn:hover img {
	transform: scale(.66) rotate(4deg);
}

#biw-actionSelector {
	cursor: pointer;
    background-color: var(--color2);
    color: var(--color1);
    padding: 4px 6px;
    box-shadow: 3px 0px 0px var(--color2);
    margin-right: 3px;
	margin-top: 2px;
	border: none;
}
#biw-actionSelector option {
	background-color: var(--color2);
	color: var(--color1);
}
#biw-actionSelector option:hover {
	background-color: var(--color2);
	color: var(--color1);
}
/*#biw-actionSelector option:checked {
	background-color: var(--color2);
	color: var(--color1);
}*/
.biw-destAddress {
    height: 24px !important;
    margin: 0 !important;
    font-size: .77em !important;
    padding: 0px 4px !important;
    font-weight: bold !important;
    color: var(--color1_3) !important;
}
.biw-miniForm button {
    font-weight: bold;
    font-size: 1em;
    margin: 10px 0 !important;
    background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 0%);
    transition: background 0.24s ease-in-out;
}
.biw-miniForm .biw-holdBtn, .biw-miniForm .biw-interpretBtn {
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
}
.biw-instructionsInput {
    margin: 0;
    width: 80%;
    text-align: left;
    margin-top: 50px;
}

/* HISTORY FORM */
#biw-miniFormHistory.active {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	padding: 6px 0 30px 0;
}
.biw-historyHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	gap: 8px;
}
.biw-historyHeader button {
	width: auto;
    font-size: smaller;
    margin: 0 !important;
    padding: 6px 12px;
    border-radius: 4px;
    height: auto;
	background: var(--color1);
    color: var(--color2);
}
.biw-historyHeader button.active {
	background: var(--color2);
	color: var(--color1);
}
#biw-historyList {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 90%;
	margin-top: 4px;
}
.biw-historyListItem {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: var(--bg-lighter);
    color: var(--color2);
    border: solid 1px var(--color1_3);
	font-size: smaller;
	padding: 10px 12px;
	border-radius: 3px;
	animation: biw-historyItemAppear 0.2s ease-in-out;
}
@keyframes biw-historyItemAppear {
	from { opacity: 0; transform: translateY(10px);}
	to { opacity: 1; transform: translateY(0); }
}
.biw-historyChange, .biw-historyState {
	font-weight: bold !important;
	color: color-mix(in srgb, var(--color2) 60%, transparent) !important;
}
.biw-historyTxId, .biw-historyDate {
	color: var(--color3) !important;
	font-weight: normal !important;
}
#biw-historyPagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin-top: 10px;
}
#biw-historyPagination button {
	width: auto;
	font-size: smaller;
	margin: 0 !important;
	padding: 6px 12px;
	border-radius: 4px;
	height: auto;
	background: var(--bg-lighter);
	color: var(--color2);
}
#biw-historyPagination button.disabled {
	background: none;
	color: color-mix(in srgb, var(--color2) 25%, transparent);
}

/* OTHER ELEMENTS */
.biw-header-buttons-wrapper {
	box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 10px;
}
#biw-buttonRefresh, #biw-buttonSettings {
    width: 26px;
    height: 26px;
    padding: 0;
    background: none;
}
#biw-buttonRefresh {
	width: 24px;
    height: 24px;
}
#biw-buttonSettings .tooltip {
	left: auto;
	right: 50%;
	transform: translateX(0%);
}
#biw-buttonRefresh img, #biw-buttonSettings img {
    pointer-events: none;
    width: 100%;
    opacity: .2;
	filter: invert(var(--dark-mode-boolean));
    transition: transform .5s, opacity .24s;
}
#biw-buttonRefresh img {
	filter: invert(calc(1 - var(--dark-mode-boolean)));
}
#biw-buttonRefresh:hover img, #biw-buttonSettings:hover img {
    opacity: .3;
    transform: rotate(320deg) scale(1.02);
}
#biw-buttonRefresh.active img {
    animation: biw-spin .6s infinite linear;
}
@keyframes biw-spin {
    0% {
        opacity: .1;
        transform: rotate(0deg) scale(1);
    }
    50% {
        opacity: .5;
        transform: rotate(180deg) scale(.9);
    }
    100% {
        opacity: .1;
        transform: rotate(360deg) scale(1);
    }
}

#biw-settings-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: brightness(.8) blur(1px);
}
#biw-settings-menu.open {
	display: block;
}
#biw-settings-menu .content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: auto;
	padding: 10px;
	background: var(--color1_2);
    color: var(--color2_3);
    border-radius: 6px;
	transform: translate(-50%, -50%);
}

.biw-stakedBalance {
    border-top: solid #80808024 1px;
    margin: 10px 0 16px 0;
    padding-top: 4px;
    /*color: var(--color3);*/
	font-size: small !important;
}
.biw-stakedBalance span:not(.unit) {
	opacity: .5;
}

#biw-accountsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 98%;
    width: 96%;
    border-radius: 2px;
    /*margin: 0 2%;*/
	margin: 1% 2% 0%;
}
.biw-accountLabel {
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: var(--bg-lighter);
    margin-top: 10px;
    padding: 2px 12px;
    border-radius: 2px;
    width: 86%;
    /*box-shadow: inset 0px 0px 6px -4px var(--color2), -.2px -.2px 0px 1px var(--color2);*/
	box-shadow: inset 0px 0px 6px -4px var(--color1_1), -.2px -.2px 0px 1px var(--color1_1);
}
.biw-accountLabel.active {
    box-shadow: inset -1px -1px 8px -6px var(--color2), .2px .2px 0px 2px var(--color2);
}
.biw-accountLabel .biw-accountImgWrap {
    cursor: pointer;
    width: 48px;
    height: 48px;
}
.biw-accountLabel:not(.active):hover {
	box-shadow: inset 0px 0px 6px -4px var(--color3), -.2px -.2px 0px 1px var(--color3);
}
.biw-accountLabel:not(.active) .biw-accountImgWrap:hover {
    /*transform: scale(1.02);*/
    filter: invert(.5);
}
.biw-accountLabel .biw-accountImgWrap img {
    pointer-events: none;
	border-radius: 10%;
    filter: brightness(.5) invert(calc(1 - var(--dark-mode-boolean)));
    transition: filter .12s ease-in-out;
}
.biw-accountLabel.active .biw-accountImgWrap img {
    /*box-shadow: 0px 0px 1px 2px white;*/
	box-shadow: 0px 0px 0px 1px var(--color3);
    filter: brightness(1) invert(calc(1 - var(--dark-mode-boolean)));
}
.biw-accountLabelInfoWrap {
    pointer-events: none;
    width: calc(100% - 64px);
}
/* accountLabelAddress <> accountLabelNameAndValue */
.biw-accountLabelNameAndValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}
.biw-accountLabelNameAndValue h2 {
	color: color-mix(in srgb, var(--color2) 70%, transparent);
    font-size: .8em;
	margin: 6px 0 10px;
}
.biw-accountLabelNameAndValue h3 {
    font-size: .8em;
    font-weight: 600;
	margin: 6px 0 10px;
}
.biw-accountLabelNameAndValue h3 span:not(.unit) {
	color: color-mix(in srgb, var(--color2) 60%, transparent);
}
.biw-accountLabelAddress {
	pointer-events: none;
    display: flex;
    justify-content: space-between;
	width: fit-content;
    gap: 8px;
}
.biw-accountLabelAddress h3 {
    font-size: .9em;
    text-align: right;
    margin: 0 0 6px 0;
    color: color-mix(in srgb, var(--color2) 60%, transparent);
}
.biw-accountLabelAddress button {
    pointer-events: all;
    padding: 0;
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 50%;
    opacity: .5;
	margin: -1px -1px 0 0;
    transition: opacity .24s;
}
.biw-accountLabelAddress button:hover {
    opacity: .9 !important;
}
.biw-accountLabelAddress button img {
    pointer-events: none;
    width: 100%;
    filter: invert(calc(1 - var(--dark-mode-boolean)));
}
#biw-newAddressBtn {
    margin-top: 6px;
    margin-bottom: 10px;
    width: 34px;
    height: 34px;
    background: var(--color2);
    color: var(--color1);
    font-size: 24px;
    border-radius: 12px;
    transition: width .12s;
}
#biw-newAddressBtn:hover {
    background: var(--neumo-color2);
    color: var(--color2);
}
#biw-newAddressBtn.loading {
    border: 2px solid transparent;
    background: linear-gradient(120deg, var(--color1) 0%, rgba(0, 0, 0, 1) 258%) padding-box, linear-gradient(269deg, #fdfdfd, #9e9e9e, var(--color1_3), #3d3d3d, #000000);
    background-size: .01% 100%;
    background-position: 50% 100%;
    animation: biw-loadingBtnBorderAnimation 2s alternate infinite;
}
@keyframes biw-loadingBtnBorderAnimation {
    0% {
        background-size: 1% 100%;
        background-position: 50% 100%;
    }
    100% {
        background-size: 103% 100%;
        background-position: 50% 100%;
    }
}
#biw-accountsWrap-box {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 96%;
    border-radius: 2px;
    margin: 0 2%;
    /*box-shadow: inset 0px 0px 4px -2px black;*/
	box-shadow: inset 0px 0px 0px 2px var(--color1_1);
}