node_modules
not_published
package-lock.json
miniLogger/history
miniLogger/mini-logger-config-custom.json

tests/unit-tests/.bench-tmp
tests/unit-tests/test-results

build/extension/dist
build/extension/extension.zip
build/desktop/release

neutralino
app/.tmp
app/sea-prep.blob
app/neutralinojs.log
app/launcher-config.json