/* TITLE BAR */
.titlebar {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 32px;
    padding: 0 0px 0 6px;
	color: var(--color3);
    opacity: .5;
    -webkit-app-region: drag;
}
#board-title {
	z-index: 1;
	user-select: none;
    font-family: 'Contrast', sans-serif;
	font-size: larger;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}
#board-version {
    font-size: .7em;
    font-weight: bolder;
    text-align: center;
    font-family: 'IBM Plex Mono';
	/*color: var(--color1_2);*/ /* unreadable using 1_2 */
    margin-left: 2px;
}
#board-connexion-resume {
	user-select: none;
    font-size: smaller;
    font-family: 'IBM Plex Mono';
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
	padding-right: 8px;
}
#board-connexion-resume .board-connexion-indicator { /* connecting */
	width: 16px;
    height: 16px;
	border-radius: 50%;
	border: solid 1px var(--color1_3);
	background: var(--color2);
	transition: background .3s cubic-bezier(0.68, -0.55, 0.265, 1.55), border-radius .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#board-connexion-resume.connecting .board-connexion-indicator {
	border-radius: 0%;
}
#board-connexion-resume.bad .board-connexion-indicator {
	background: var(--color3);
}
#board-connexion-resume.good .board-connexion-indicator {
	background: var(--color1_3);
}
#board-connexion-resume.perfect .board-connexion-indicator {
	background: var(--color1);
}
/* TITLE BAR WINDOW CONTROLS => ELECTRON ONLY */
.titlebar .window-controls {
	display: none; /** display: flex; */
    box-shadow: -7px 1px 0px -6px var(--color1_2);
}
.titlebar .window-controls button {
    -webkit-app-region: no-drag;
    padding: 0;
    width: 36px;
    height: 32px;
    background: var(--color1_1);
    color: var(--color3);
    border: none;
    border-radius: 0;
    display: flex;
    font-family: 'IBM Plex Mono';
    font-size: large;
    justify-content: center;
    align-items: baseline;
    gap: 2px;
    cursor: pointer;
}
#minimize-btn {
    padding-top: 1px;
}
#maximize-btn, #minimize-btn {
    align-items: center;
    font-weight: 900;
}
#maximize-btn:hover, #minimize-btn:hover {
    background: var(--color1_3);
}
#close-btn {
    font-size: 1.3em;
}
#close-btn:hover {
    cursor: pointer;
    background-color: red;
}

/* DARK MODE SWITCH */
.dark-mode-switch {
    z-index: 11;
    position: absolute;
    left: 6px;
    bottom: 6px;
    display: inline-block;
    height: 24px;
    width: calc(var(--buttons-bar-width) - 12px);
}
.dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.dark-mode-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color2);
    transition: .3s;
    border-radius: 4px;
}
.dark-mode-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background: var(--color1);
    transition: .3s;
    border-radius: 3px;
}
.dark-mode-switch input:checked+.slider {
    background: var(--color2);
}
.dark-mode-switch input:checked+.slider:before {
    transform: translateX(22px);
}

/* SETTINGS - REMOVED IN HTML */
#board-settings-button {
	user-select: none;
    z-index: 11;
    position: fixed;
    left: 8px;
    bottom: 32px;
    width: calc(var(--buttons-bar-width) - 16px);
    background: none;
    opacity: .4;
}
#board-settings-button:hover {
    opacity: 1;
}
#board-settings-button img {
    pointer-events: none;
    width: 100%;
    filter: invert(var(--dark-mode-boolean));
}
#board-settings-menu {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    height: fit-content;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color1);
    border: solid 2px var(--color2);
    padding: 10px;
    transition: opacity .2s ease;
}
#board-settings-menu.visible {
    z-index: 1000;
    opacity: 1;
    pointer-events: auto;
}
#board-settings-menu-title {
    user-select: none;
    position: relative;
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    margin: -10px -10px 0px -10px;
    padding: 6px 10px;
    color: var(--color1);
    background-color: var(--color2);
}
#settings-menu-close-btn {
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%) scaleX(1.4);
}
.board-settings-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: small;
    padding-bottom: 2px;
    border-bottom: solid 1px var(--color1_3);
}
.board-settings-line:last-child {
    border-bottom: none;
}
.board-settings-line input[type="checkbox"] {
    height: fit-content;
}

/* BOARD WINDOWS AREA */
/* === VISUALIZER === */
#vzr-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 10%;
}
body.dark-mode #vzr-container {
	filter: invert(1);
}
#vzr-UI {
	pointer-events: none;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
#vzr-UI.active {
	display: block;
}
.vzr-dev-info {
	display: none; /* hidden in prod, not useful actually */
	pointer-events: none;
	pointer-events: initial;
	position: absolute;
	top: 3%;
	right: 2%;
	color: var(--color3);
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
}
.vzr-dev-info pre {
	margin: 5px 0 0 0;
}
#vzr-modeSwitchBtn {
	position: absolute;
    top: 10px;
    right: 10px;
}
#vzr-toggleVisualizationBtn {
	position: absolute;
	cursor: pointer;
	bottom: 4px;
	right: 12px;
	width: 32px;
	height: 32px;
	transition: transform .06s ease;
}
#vzr-toggleVisualizationBtn:hover {
	transform: scale(1.15);
}
#vzr-toggleVisualizationBtn img {
	position: absolute;
	pointer-events: none;
	width: 100%;
	filter: invert(var(--dark-mode-boolean));
}

#board-windows-wrap {
    user-select: none;
    position: relative;
    overflow: hidden;
    height: calc(100vh - 32px - 1px);
    width: calc(100% - var(--buttons-bar-width) - 1px);
    left: var(--buttons-bar-width);
    border-top: solid 1px var(--color1_3);
    border-left: solid 1px var(--color1_3);
    border-top-left-radius: 10px;
    /*box-shadow: 0px 0px 10px -8px black;*/

	background-color: var(--bg-light);
	background-image: radial-gradient(circle, #00000010 1px, transparent 1.5px), linear-gradient(#00000006 1px, transparent 1px), linear-gradient(90deg, #00000005 1px, transparent 1px);
    background-size: 32px 32px;
    background-position: 0px 0px, 0px -16px, -16px 0px;
}
body.dark-mode #board-windows-wrap {
	background-image: radial-gradient(circle, #ffffff10 1px, transparent 1.5px), linear-gradient(#ffffff06 1px, transparent 1px), linear-gradient(90deg, #ffffff05 1px, transparent 1px);
}

#board-apps-buttons-bar {
    z-index: 10;
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    bottom: 0;
    width: var(--buttons-bar-width);
    height: calc(100% - 80px - 100px);
    margin-bottom: 100px;
    box-shadow: 0px -11px 0px -10px var(--color1_3);
    /*border-right: solid 1px var(--color1_3);*/

	top: 33px; /* upper because we removed the info panel button */
}
#board-apps-buttons-bar button:first-child {
    margin-top: 12px;
}
#board-apps-buttons-bar button {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    width: calc(100% - 14px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    padding: 0;
    opacity: 1;
	background: linear-gradient(90deg, var(--color2) 0%, var(--color2) 45%, var(--bg-lighter) 55%, var(--bg-lighter) 100%);
    background-size: 220%;
    background-position: 100% 50%;
    transition: box-shadow .12s ease, background-position .12s ease, transform .06s ease, opacity .06s ease, aspect-ratio .06s ease, height .06s ease, border-radius .12s ease;
}
#board-apps-buttons-bar button.disabled {
    transition: transform .3s ease, opacity .3s ease, aspect-ratio .3s ease, height .3s ease;
    height: calc(50% - 20px);
    aspect-ratio: .00001 / 1;
    opacity: 0;
}
#board-apps-buttons-bar button.front {
    box-shadow: inset 1px 0px 0px 2px var(--color2_3);
}
#board-apps-buttons-bar button:hover {
    cursor: pointer;
    transform: scale(1.15);
    transform-origin: left;
    border-radius: 50% 6% 6% 50%;
    background-position: 0% 50%;
    transition: box-shadow .12s ease, background-position .12s ease, transform .06s ease, opacity .06s ease, aspect-ratio .06s ease, height .06s ease, border-radius .12s .06s ease;
}
#board-apps-buttons-bar button img {
	user-select: none;
	pointer-events: none;
    width: 70%;
    filter: invert(var(--dark-mode-boolean));
}
#board-apps-buttons-bar button:hover img {
    filter: invert(calc(1 - var(--dark-mode-boolean)));
}
/* BOARD WINDOWS */
.window {
    z-index: 0;
    pointer-events: auto;
    overflow: hidden;
    position: absolute;
	top: 0px;
	left: 1px;
    border-radius: 5px;
	background: var(--bg-lighter);
	transform-origin: top left;
	/*transform-origin: center left;*/
    box-shadow: inset 0px 0px 0px 0px var(--color1_2), 0px 0px 0px 0px var(--color1_2);
    transition: border-radius calc(var(--windows-animation-duration) * .5) calc(var(--windows-animation-duration) * .5);
}
.window.background-drop-blur {
    background: color-mix(in srgb, var(--bg-lighter) 60%, transparent);
	backdrop-filter: blur(3px); /* Very expensive */
}
.window.fitContent {
    width: fit-content;
    height: fit-content;
}
.window:not(.onBoard) {
    pointer-events: none !important;
	left: -9999px !important; /* move it out of the screen instead of display none to keep the animation possible */
}
.window.fullscreen {
    box-shadow: inset 0 0 0px 0px var(--color1_2), 0px 0px 0px 0px var(--color1_2) !important;
    border-radius: 0 !important;
}
.resize-button {
    cursor: nw-resize;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22px;
    background: var(--color1_1);
    color: color-mix(in srgb, var(--color3) 80%, transparent);
    transform: rotate(45deg);
    transform-origin: bottom left;
    font-size: 2em;
    letter-spacing: -24px;
	transition: color .12s ease;
}
.resize-button:hover, .window.resizing .resize-button {
	color: var(--color3);
}
.window.onBoard {
	box-shadow: 1px 2px 0px rgba(0, 0, 0, .15);
    transition:
        box-shadow calc(var(--windows-animation-duration) * .5),
        border-radius calc(var(--windows-animation-duration) * .5) calc(var(--windows-animation-duration) * .5);
}
.window.onBoard.front {
    /*box-shadow: inset 0 0 1.5px .5px var(--color2), 0 0 0.5px .5px var(--color2);*/
	/*box-shadow:
		0 0 0 1px rgba(0, 0, 0, 0.08),
		0 4px 6px rgba(0, 0, 0, 0.15),
		0 12px 24px rgba(0, 0, 0, 0.3);*/
	box-shadow:
		0 0 0 .25px var(--color3),
		/*4px 6px 0 rgba(0, 0, 0, .8);*/
		4px 6px 0 black;
}
.window.onBoard:not(.front).temp-front {
    z-index: 10 !important;
    /*box-shadow: inset 0 0 1.5px .5px var(--color2_3), 1px 1px 0px 1px var(--color2_3);*/
	box-shadow:
		inset 0 0 4px 0px var(--color1_2),
		0 0 0 1px rgba(0, 0, 0, 0.08),
		0 4px 6px rgba(0, 0, 0, 0.07),
		0 12px 24px rgba(0, 0, 0, 0.12);
}
.window.onBoard.front.background-drop-blur, .window.onBoard:not(.front).temp-front.background-drop-blur {
	/*background: color-mix(in srgb, var(--bg-lighter) 90%, transparent);*/
    /*backdrop-filter: blur(3px);*/ /* Very expensive */
	/* WITH OPAC BACKGROUND WE DON'T NEED THE BLUR. */
	background: var(--bg-lighter);
	backdrop-filter: none;
}
.window .title-bar {
    user-select: none;
	position: relative;
    cursor: move;
    color: var(--color1);
    padding: 5px 10px;
    height: calc(32px - 10px);
    display: flex;
    justify-content: space-between;
    transition: filter var(--windows-animation-duration), box-shadow var(--windows-animation-duration);
    box-shadow: 0px 0px 0px 0px var(--color1);
}
.window.fullscreen .title-bar {
    cursor: default;
    filter: invert(1);
    box-shadow: 0px 2px 0px 0px var(--color1);
    position: relative;
    z-index: 1;
}
.window .title-bar .background {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(90deg, var(--color2) 0%, var(--color2) 40%, var(--color2_3) 54%, var(--color2_3) 98%, var(--color2) 110%);
    background-position: 100% 50%;
    background-size: 220% 100%;
    transition:
        /*background-position .12s var(--windows-animation-duration),*/
        background-position calc(var(--windows-animation-duration) * .3) var(--windows-animation-duration),
        filter var(--windows-animation-duration),
        opacity var(--windows-animation-duration);
}
.window.onBoard .title-bar .background {
    transition:
        /*background-position .12s,*/
        background-position calc(var(--windows-animation-duration) * .3),
        filter var(--windows-animation-duration),
        opacity var(--windows-animation-duration);
}
.window.onBoard.front .title-bar .background {
    background-position: 0% 50%;
}
.window.fullscreen .title-bar .background {
    opacity: 0;
}
.window .title-bar .title-text {
    pointer-events: none;
    font-family: 'Contrast', sans-serif;
    display: flex;
    align-items: flex-end;
}
.window .title-bar .title-text .title-deco {
	opacity: .1;
}
.window.onBoard.front .title-bar .title-text .title-deco {
	opacity: .33;
}
.window .title-bar .title-text .title-deco:first-child {
	margin-right: 10px;
}
.window .title-bar .title-text .title-deco:last-child {
	margin-left: 10px;
}
.window .title-bar .buttons-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    filter: invert(1);
}
.window .title-bar .buttons-wrap img {
    filter: invert(var(--dark-mode-boolean));
    margin: 0 0 0 12px;
    height: 70%;
}
.window .title-bar .buttons-wrap img:hover {
    cursor: pointer;
}
.window .close-window {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.window .content {
    /*position: absolute;*/
    width: 100%;
    height: calc(100% - 32px);
}
.window.dragging content, .window.resizing .content {
    pointer-events: none;
}
/*.window.resizable .content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 17px), calc(100% - 17px) 100%, 0 100%);
}*/