@font-face {
    font-family: 'Contrast';
    src: url('./fonts/vertopal.com_Contrast_V0.89.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-ExtraLight.woff') format('woff');
    font-weight: 200;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Italic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-Regular.woff') format('woff');
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-SemiBold.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBM_Plex_Mono_Woff/IBMPlexMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
:root {
    --dark-mode-boolean: 0;
	/*--bg1: #e7e7e7;
	--bg1_1: #efefef;
	--bg1_2: #f7f7f7;
	--bg1_3: white;*/
	--bg-dark: #e7e7e7;
	--bg: #efefef;
	--bg-light: #f7f7f7;
	--bg-lighter: white;

    --color1: white;
    --color1_rgb: 255, 255, 255;
    --color1_1: #f7f7f7;
    --color1_2: #efefef;
    --color1_3: #e7e7e7;

    --color2: black;
    --color2_rgb: 0, 0, 0;
    --color2_1: #161616;
    --color2_2: #323232;
    --color2_3: #484848;

    --color3: #7b7b7b;

    --invalid-color: red;
    --valid-color: cornflowerblue;
    --correct-color: green;

    /*--buttons-bar-height: 70px;*/
    --buttons-bar-width: 60px;
    --windows-animation-duration: 400ms;
}
.dark-mode {
    --dark-mode-boolean: 1;
	/*--bg1: #484848;
	--bg1_1: #323232;
	--bg1_2: #161616;
	--bg1_3: black;*/
	/*--bg1: black;
    --bg1_1: #161616;
    --bg1_2: #323232;
    --bg1_3: #484848;*/
	--bg-dark: black;
	--bg: #080808;
	--bg-light: #101010;
	--bg-lighter: #181818;

    --color1: black;
    --color1_1: #161616;
    --color1_2: #323232;
    --color1_3: #484848;

    --color2: white;
    --color2_1: #f7f7f7;
    --color2_2: #efefef;
    --color2_3: #e7e7e7;
	/*--color2: white;
    --color2_1: #f7f7f7;
    --color2_2: #eeeeee;
    --color2_3: #d0d0d0;*/
}

::-webkit-scrollbar {
    width: 8px;
    height: calc(100% - 10px);
}
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px gray;*/
    box-shadow: inset 0 0 5px var(--bg-dark);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: var(--bg-lighter);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 1px var(--color3);
}
body {
	overflow: hidden;
	font-size: initial;
	box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--bg);
    color: var(--color2);
	margin: 0;
    padding: 0;
    transition: background-color .2s, color .2s;
}
input {
	box-sizing: border-box;
    text-align: center;
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 2px;
    border-style: none;
	height: 28px;
    padding: 2px 12px;
    font-size: .9em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--color3);
}
input.invalid {
    box-shadow: 0 0 0 1px var(--invalid-color), inset 0 0 0 1px var(--invalid-color);
}
input.valid {
    box-shadow: 0 0 0 1px var(--valid-color), inset 0 0 0 1px var(--valid-color);
}
input.correct {
    box-shadow: 0 0 0 1px var(--correct-color), inset 0 0 0 1px var(--correct-color);
}
input[type="checkbox"] {
	accent-color: var(--color2);
}
div:has(> .tooltip), h1:has(> .tooltip), h3:has(> .tooltip) {
	position: relative;
}
button {
	user-select: none;
    cursor: pointer;
    border: none;
    background: var(--bg-lighter);
    color: var(--color1);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    border-radius: 4px; /* 6px? */
    padding: 4px 10px; /* 5px? */
    font-size: .86em; /* same as h2 */
}
img {
	user-select: none;
}
h1 {
    font-size: 1.5em;
    font-weight: 500;
}
h3 {
    font-size: 1em;
    font-weight: 400;
}
.unit {
	color: color-mix(in srgb, var(--color2) 25%, transparent);
}

.hidden {
    display: none !important;
}
.tooltip {
	display: none;
    pointer-events: none;
    z-index: 1;
    position: absolute;
    background: var(--bg);
    color: var(--color2);
    border: solid var(--color3) 2px;
    padding: 4px 6px;

	font-family: 'IBM Plex Mono' !important;
    font-weight: 500 !important;
    font-size: xx-small !important;

    left: 50%;
    top: 120%;
    transition: none;
}
.tooltip.t80 {
	top: 80%;
}
div:hover > .tooltip, h1:hover > .tooltip, h3:hover > .tooltip, button:hover > .tooltip {
    display: block;
	animation: fadeInTooltip .3s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(-50%);
}
@keyframes fadeInTooltip {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
button:hover {
    z-index: 1;
}
button:hover > .tooltip {
    left: 50%;
    top: 80%;
    transform: none;
    min-width: 120px;
}